{% extends "base.html" %}

<body>
    {% block content %}
    <h2> Eventos Agendados </h2>
    <table border="4">
        <thead>
            <th>Patrocinante</th>
            <th>Tienda</th>
            <th>País</th>
            <th>Día Evento</th>
            <th>Gratis</th>
            <th>Cuota Participación</th>
        </thead>
        <tbody>
            {% for evento in eventos_agendados %}
                <tr>
                    <td>{{ evento.patrocinante }}</td>
                    <td>{{ evento.tienda_id }}</td>
                    <td>{{ evento.pais_origen_id }}</td>
                    <td>{{ evento.dia_evento }}</td>
                    <td>{{ evento.gratis }}</td>
                    <td>{{ evento.cuota_participacion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="{% url 'app_homepage' %}">Atrás</a></button>
    {% endblock %}
</body>