{% extends "base.html" %}
{% load static %}
<style>
    .container{
        width: 200%;
        margin: 100;
        color: green;
        display: inline-block;
    }
</style>
<body>
    {% block content %}
        <form method="get" action="registrarevento">
        <button type= 'submit' style = "float: right;width: 10%; height: 30px; font-size: 15px">Crear Evento</button>
        </form>
        <form method="get" action="logout">
        <button type= 'submit' style = "float: right;width: 10%; height: 30px; font-size: 15px">Cerrar Sesión</button>
        </form>
        <h2>
        <p style="text-align:center;"> Bienvenido {{ username }}!!
        </p>
        </h2> 
        <img src="{% static 'homepage.png' %}" width= '1050' height='700' style = 'text-align:center;'>
        <div class='container'>
            <p></p>
            <a href='#'>Evento Swap</a><br />
            <a href='#'>Comunidad Swap</a><br />
        </div>
    {% endblock %}
</body>