{% extends "base.html" %}
{% load static %}

<body>
    {% block content %}
        <form method="get" action="registrarevento">
        <button type= 'submit'>Crear Evento</button>
        </form>
        <form method="get" action="logout">
        <button type= 'submit'>Cerrar Sesión</button>
        </form>
        <h2>
        <p style="text-align:center;"> Bienvenido {{ username }}!!
        </p>
        </h2> 
        <div class='container'>
            <p></p>
            <a href='#'>Evento Swap</a><br />
            <a href='#'>Comunidad Swap</a><br />
        </div>
    {% endblock %}
</body>